{% extends "base.html" %}

{% block post_detail_link %}
	{% if request.user.is_authenticated %}
        <li ><a href='{% url "posts:create" %}'><i class="fa fa-plus-square-o fa-lg" aria-hidden="true"></i> Create</a></li>
	{% endif %}

{% endblock %}

{% block content %}

<div class="col-sm-6 col-sm-offset-3">
	<h1>{{ title }}</h1>
	<form method="GET" action="" class="row">
		<div class="col-sm-6">
			<div class="input-group">
				<input class="form-control" type="text" name="q" placeholder="Search Posts" value="{{ request.GET.que }}" />
				<span class="input-group-btn">
				<!-- <input class="btn btn-default" type="submit" value="Search" /> -->
				<button class="btn btn-default" type="button">Se<i class="fa fa-search" aria-hidden="true">ch</i></button>
				</span>
			</div>
		</div>
	</form><br>
		{% for obj in object_list %}
			<div class="row">
				<div class="col-sm-12 ">
			    	<div class="thumbnail">
			    		{% if obj.image %}
			    			<img src='{{ obj.image.url }}' class="img-responsive">
			    		{% endif %}
			      <!-- <img src="..." alt="..."> -->
				      	<div class="caption post-detail-item">
				      		{% if obj.draft %}<h3>Admin only: Draft {% if obj.publish > today %}</h3>{% endif %}<h3>Admin only: Future Post</h3>{% endif %}
				        	<h1><a style='color:#932216;' href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a><small> {{ obj.publish }} ago</small></h1>
				        	{% if obj.user.get_full_name %}
								<p>Author : {{ obj.user.get_full_name }}</p>
							{% endif %}
				        	{{ obj.get_markdown|truncatechars_html:120 }}
				        	<p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
				      	</div>
			    	</div>
			  	</div>
		  	<hr>
		  	</div>	
		{% endfor %}

		<div class="pagination">
		    <span class="step-links">
		        {% if object_list.has_previous %}
		            <button class="btn btn-default"><a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a></button>
		        {% endif %}

		        <span class="current">
		            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
		        </span>

		        {% if object_list.has_next %}
		            <button class="btn btn-default"><a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a></button>
		        {% endif %}
		    </span>
		</div>

</div>
{% endblock content %}
